<div class="container mt-4">
    <h2>View Tables</h2>
    
    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
      {{ errorMessage }}
    </div>
  
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Table Number</th>
          <th>Capacity</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let table of tables">
          <td>{{ table.tableNumber }}</td>
          <td>{{ table.capacity }}</td>
          <td>{{ table.status }}</td>
          <td>
            <!-- Update Button with Icon -->
          <!-- <a [routerLink]="['/update-table', table.id]" class="btn btn-outline-primary">
            <i class="fas fa-edit"></i>
          </a> -->
          <button class="btn btn-sm btn-warning"  (click)="UpdateTable(table)">
            <i class="fas fa-edit"></i>
          </button>
          <!-- Delete Button with Icon -->
          <button class="btn btn-sm btn-danger"  (click)="table.id ? deleteTable(table.id) : null">
            <i class="fas fa-trash-alt"></i>
          </button>
            
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
